[platformio]
default_envs = esp32dev_fld

[env:esp32dev_fld]
extends = env:esp32dev
custom_usermods = ${env:esp32dev.custom_usermods} four_line_display_ALT
build_flags =
    ${env:esp32dev.build_flags}
    -D FLD_TYPE=SH1106
    -D I2CSCLPIN=27
    -D I2CSDAPIN=26
