; ----------------------------------------------------------------------------
; platformio_release.ini.template
; ----------------------------------------------------------------------------
; Copied to platformio_release.ini by the release CI workflow
; (.github/workflows/release.yml -> build.yml with `release: true`)
; in order to extend the matrix of `default_envs` built and published
; for tagged releases and remove the debugging usersmods env
;
; This file overrides `[platformio].default_envs` from platformio.ini via
; `extra_configs`. It MUST list every env that should be released - including
; the regular CI default_envs - because it fully replaces the parent value.
;
; Do NOT commit a generated platformio_release.ini (it's in .gitignore).
; ----------------------------------------------------------------------------

[platformio]
default_envs = nodemcuv2
               esp8266_2m
               esp8266_2m_min
               esp01_1m_full
               nodemcuv2_160
               esp8266_2m_160
               esp01_1m_full_160
               nodemcuv2_compat
               esp8266_2m_compat
               esp01_1m_full_compat
               esp32dev
               esp32dev_debug
               esp32_eth
               esp32_wrover
               lolin_s2_mini
               esp32c3dev
               esp32c3dev_qio
               esp32S3_wroom2
               esp32s3dev_16MB_opi
               esp32s3dev_8MB_opi
               esp32s3dev_8MB_qspi
               esp32s3dev_8MB_none
               esp32s3_4M_qspi
               ; HUB75 release-only envs
               esp32dev_hub75
               esp32dev_hub75_forum_pinout
               adafruit_matrixportal_esp32s3
               esp32s3dev_16MB_opi_hub75 ;; MoonHub
               esp32s3dev_4MB_qspi_hub75 ;; HD-WF2
               waveshare_esp32s3_32MB_hub75
