[platformio]
default_envs = esp32dev_re

[env:esp32dev_re]
extends = env:esp32dev
custom_usermods = ${env:esp32dev.custom_usermods} rotary_encoder_ui_ALT
build_flags =
    ${env:esp32dev.build_flags}
    -D USERMOD_ROTARY_ENCODER_GPIO=INPUT
    -D ENCODER_DT_PIN=21
    -D ENCODER_CLK_PIN=23
    -D ENCODER_SW_PIN=0
